@font-face {
  font-family: 'iconfont';
  /* Project id 3356528 */
  src: url("//at.alicdn.com/t/font_3356528_hm0xbwic1pw.woff2?t=1651062890268") format("woff2"), url("//at.alicdn.com/t/font_3356528_hm0xbwic1pw.woff?t=1651062890268") format("woff"), url("//at.alicdn.com/t/font_3356528_hm0xbwic1pw.ttf?t=1651062890268") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
